@import "./assets/scss/Variable.scss";

body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background-color: $primary-color;
  font-family: 'PT Mono', monospace;
}
